@charset "UTF-8";
/* CSS Document */

body {
    background-color: #fdf1dc;
    /* 一种暖色调的背景色，模仿羊皮纸的颜色 */
    color: #3e2723;
    /* 暗棕色，用于文字颜色，模仿墨水 */
    font-family: 'autography', serif;
    /* 中世纪文稿常用的字体风格 */
}

h1,
h2,
h3,
h4 {
    font-family: 'Perpetua', 'Palatino', 'Book Antiqua', serif;
    /* 这些字体都有一种古典的风格 Times New Roman  */
}

a {
    color: #5b141a;
    /* 深红色，类似于中世纪的封蜡 */
    text-decoration: none;
    /* 去掉下划线，使链接看起来更为典雅 */
}

/* 模仿中世纪手稿边缘的装饰性边框 */
.container {
    border: 0px solid #8b5f2e;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    
}

/* 对选项框进行装饰性的改造 */
.sel-lang {
    background-color: #fdf1dc;
    /* 羊皮纸颜色 */
    border: 1px solid #8b5f2e;
    /* 中世纪风格边框 */
    font-family: 'Perpetua', 'Palatino', 'Book Antiqua', serif;
    /* 中世纪风格字体 */
    color: #3e2723;
    padding: 5px 10px;
    border-radius: 2;
    /* 移除现代的圆角效果的话就是0 */
}

/* 添加一些伪元素来创建复古风格的图标或装饰性元素 */
.sel-lang::before {
    content: "✥";
    /* 可以使用适当的中世纪符号 */
    color: #8b5f2e;
    padding-right: 5px;
}

.sel-lang::after {
    content: "⚜️";
    /* 或者其他装饰性符号 */
    color: #8b5f2e;
    padding-left: 5px;
}

/* 按钮也可以进行相应的风格化 */
button {
    background-color: #8b5f2e;
    /* 深棕色 */
    color: #fdf1dc;
    /* 对比颜色 */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Perpetua', 'Palatino', 'Book Antiqua', serif;
    /* 同样使用中世纪风格的字体 */
}

button:hover {
    background-color: #5b141a;
    /* 深红色 */
}

/* 如果你的网页中包含图像，可以这样添加边框使其符合中世纪风格 */
img {
    border: 4px solid #8b5f2e;
    padding: 5px;
    background-color: #fdf1dc;
}

