                <!-- Language Selector -->
                <head>
                    <meta charset="UTF-8">
                <link rel="stylesheet" href="../css/medieval.css"> <!-- 引用外部CSS文件 -->
                </head>
                <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
                    <option value="0" selected> 国语 | Chinese </option>
                    <option value="1"> 英语 | English </option>
                    <option value="2"> 日语 | にほんご </option>
                </select>





